@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* CONTAINER */
.grid-container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "sidebar header header header header header"
    "sidebar projects projects projects projects announcements"
    "sidebar projects projects projects projects announcements"
    "sidebar projects projects projects projects trending"
    "sidebar projects projects projects projects trending";
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  padding: 0 1rem;
}

/* SIDEBAR */
.sidebar {
  display: inline;
  justify-content: center;
  background-color: #3587A4;
  color: white;
  padding: 1rem;
  grid-area: sidebar;
}

.sidebar-title{
  margin: 0 0 1rem;
}

.sidebar-title a{
  font-weight: 900;
  font-size: 1.5rem;
}

.sidebar li{
  padding: 0.6rem 0;
}

.sidebar .bottom-links{
  margin: 2rem 0;
}

/* HEADER */
.header{
  background-color: #C1DFF0;
  grid-area: header;
  padding: 1rem;
}

.header-search {
  max-width: 40rem;
  padding-top: 0.5rem;
}

.header-search ul{
  display: flex;
	justify-content: space-around;
	align-items: center;
}

.search{
  width: 35rem;
  margin-left: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: #3587A4;
  padding: 0.7rem;
  color: white;
}

.search:focus{
  outline: none;
}

.section-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
}

.user-display,
.buttons-flex ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-display ul{
  padding: 1rem;
}

.divider{
  margin: auto;
  width: 90%;
  height: 1px;
  background-color: white;
  display: grid;
}

.buttons-flex li{
  margin-left: 1rem;
  border-radius: 5rem;
  padding: 0.6rem;
}

.header-btn{
  background-color: #2D848A;
}

/* MAIN CONTENT */
.main-content{
  /* background-color: #88CCF1; */
  grid-area: projects;
  padding: 1rem;
}

.projects{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.project{
  padding: 1rem;
  background-color: #72DDF7;
  border-radius: 1rem;
  display: grid;
}

.buttons-flex .work ul{
  margin-left: auto;
}

.section-heading{
  margin-bottom: 0.7rem;
}

/* Announcements */
.announcements{
  /* background-color: #2D848A; */
  grid-area: announcements;
  padding: 1rem;
}

.announcement{
  margin: 0.5rem;
}

.announcement h4{
  margin-bottom: 0.3rem;
}

/* Trending */
.trending{
  /* background-color: #72DDF7; */
  grid-area: trending;
  padding: 1rem;
}

.fa-user-tie{
  margin: 1rem;
}

/* GLASSMORPHISM */
.glass {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 10px 15px 0 rgba(44, 52, 163, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}