@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* SIDEBAR */
.sidebar {
  display: grid;
  justify-content: center;
  background-color: black;
  color: white;
  width: 13rem;
  height: 100vh;
  padding: 1rem 0;
}

.sidebar a{
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.sidebar li{
  list-style: none;
  padding: 0.6rem 0;
}

.sidebar .bottom-links{
  margin: 2rem 0;
}